@model ELEarningSystemMVC.Models.TblFeedback
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<center>
    <section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact Us</h3>
            <div class="row">
                <div class="col-md-5 address-grid">
                    <div class="addres-office-hour text-center">
                        <ul>
                            <li class="mb-2">
                                <h6 data-blast="color">Address</h6>
                            </li>
                            <li>
                                <p>05,EDU House, Ahemadabad<br>Gujrat, India.</p>
                            </li>
                        </ul>
                        <ul>
                            <li class="mt-lg-4 mt-3">
                                <h6 data-blast="color">Phone</h6>
                            </li>
                            <li class="mt-2">
                                <p>(+91)9191969685</p>
                            </li>
                            <li class="mt-lg-4 mt-3">
                                <h6 data-blast="color">Email</h6>
                            </li>
                            <li class="mt-2">
                                <p><a href="#">elearning111@gmail.com.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 contact-form">
                    <form action="#" method="post">
                        <div class="row text-center contact-wls-detail">
                            <div class="col-md-6 form-group contact-forms">
                                <a class="form-control">@Html.TextBoxFor(m =>m.name)</a>
                                
                            </div>
                            <div class="col-md-6 form-group contact-forms">
                                <a class="form-control">@Html.TextBoxFor(m => m.mail)</a>
                            </div>
                        </div>
                        <div class="form-group contact-forms">
                            <a class="form-control">@Html.TextBoxFor(m => m.subjects)</a>
                        </div>
                        <div class="form-group contact-forms">
                            <a class="form-control">@Html.TextAreaFor(m => m.messages)</a>
                        </div>
                        <div class="sent-butnn text-center">
                            <button type="submit" class="btn btn-block" data-blast="bgColor">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</center>

