
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title clr text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">services</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fas fa-book banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Educational Services</h4>
                        <p>E-Class Learning Services</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fas fa-pencil-alt banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Digital Classroom Solution</h4>
                        <p>Digital Clasis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fas fa-bookmark banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Digital Classroom Solution</h4>
                        <p>E-Class Learning</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fas fa-address-book banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Best for Free Academic Learning</h4>
                        <p>Provide Online Classis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fas fa-graduation-cap banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Best for Free Access to University Courses</h4>
                        <p>Online Classis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 w3layouts-service-list text-center mt-md-4 mt-sm-3 mt-3">
                <div class="white-shadow">
                    <div class="text-wls-ser-bake">
                        <span class="fab fa-cloudscale banner-icon" data-blast="color"></span>
                    </div>
                    <div class="ser-inner-info">
                        <h4 class="my-3">Best for Free Access to University Courses</h4>
                        <p>Offline Mitings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

