
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<center>
    <section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Staff </h3>
            <div class="row ">
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="team-shadow">
                        <div class="img-box">
                            <img src="~/Content/images/t1.jpg" alt="">
                            <div class="list-social-icons">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
                            <h4 class="text-white mb-2">Jayesh Ahir</h4>
                            <span class="wls-client-title text-black">Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="team-shadow">
                        <div class="img-box">
                            <img src="~/Content/images/t2.jpg" alt="">
                            <div class="list-social-icons">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
                            <h4 class="text-white mb-2">Sufiyan Khilji</h4>
                            <span class="wls-client-title text-black">Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="team-shadow">
                        <div class="img-box">
                            <div class="team-list-img">
                                <img src="~/Content/images/t3.jpg" alt="">
                            </div>
                            <div class="list-social-icons">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
                            <h4 class="text-white mb-2">Karan Gisao</h4>
                            <span class="wls-client-title text-black">Professor</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 profile">
                    <div class="team-shadow">
                        <div class="img-box">
                            <div class="team-list-img">
                                <img src="~/Content/images/t4.jpg" alt="">
                            </div>
                            <div class="list-social-icons">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="#"><span class="fas fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fab fa-vk"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-w3layouts-info py-lg-4 py-3 text-center" data-blast="bgColor">
                            <h4 class="text-white mb-2">Vedant Patel</h4>
                            <span class="wls-client-title text-black">Professor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</center>

